/*  *//*  *//*  *//*  *//*  */
          /* Navbar */
/*  *//*  *//*  *//*  *//*  *//*  */
.navbar__container{
  display: flex;
  justify-content: space-around;
  padding: 2rem;

}

.links__container{
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav__link{
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.nav__link:hover{
  border-bottom: 2px solid #228EEB;
}


/*  *//*  *//*  *//*  *//*  */
          /* Hero Page */
/*  *//*  *//*  *//*  *//*  *//*  */

.hero__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
 
}

.hero__top{
  display: flex;
  flex-direction: column;
   margin-left: 16rem;
}

.hero__btn{
  width: 10%;
  border: none;
  background-color: #F8C71A;
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
transition: 0.4s;
font-size: 1rem;
font-weight: 400;
}

.hero__btn:hover{
  background-color: #228EEB;
  color: #fff;
  /* border: 2px solid #F8C71A; */
}

/*  *//*  *//*  *//*  *//*  */
          /* Section 1 */
/*  *//*  *//*  *//*  *//*  *//*  */

.section1__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-top: 6rem;
}

.section1__title{
  font-size: 2.5rem;
text-align: center;
font-weight: 700;
}

.section1__cards{
  display: flex;
gap: 5rem;
height: 25vh;
}

.section1__card{
  background-color: #fff;
  padding: 1rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5vh;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card__img{
  margin-left: -10rem;
  margin-top: -1rem;
}

/*  *//*  *//*  *//*  *//*  */
          /* Section Two */
/*  *//*  *//*  *//*  *//*  *//*  */

.sectionTwo__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.section2__card{
  border: 2px solid #228EEB;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.section2__cards{
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

